body,
html {
   height: 100%;
   margin: 0;
   font-family: "Hammersmith One", sans-serif;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
   background-color: deeppink;
   width: 100%;
   height: 100%;
}

header {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
   position: fixed;
}
#instructions {
   max-width: 30vw;
   min-height: 10vh;
   font-size: 2.5rem;
   font-weight: 400;
   text-align: center;
   animation: fadeout 10s;
   opacity: 0;
}
#sub {
   font-size: 1rem;
   font-family: sans-serif;
   font-weight: 100;
}

@keyframes fadeout {
   0% {
      color: rgb(25, 25, 134);
      opacity: 100%;
   }
   50% {
      color: white;
      opacity: 100%;
   }

   70% {
      opacity: 80%;
      color: lawngreen;
   }
   100% {
      opacity: 0;
      color: lawngreen;
   }
}

footer {
   position: absolute;
   bottom: 3vh;
   margin: auto 0;
   width: 100%;
   font-size: 0.8rem;
   text-align: center;
   animation: foot-fade 10s;
   animation-delay: 3s;
   opacity: 0;
   font-family: sans-serif;
   font-weight: 100;
}

footer a {
   color: lawngreen;
   text-decoration: none;
}
@keyframes foot-fade {
   0% {
      color: deeppink;
      opacity: 0;
   }
   20% {
      opacity: 100%;
      color: white;
   }
   80% {
      opacity: 100%;
   }
   100% {
      opacity: 0;
      color: white;
   }
}
